@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 1000px 100%;
}

.video-placeholder {
  background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

/* Slider Thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  border-radius: 50%;
  background: #a855f7;
  cursor: pointer;
  border: none;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a855f7; 
  cursor: pointer;
  border: none;
}

/* Slider Track */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #e9d5ff; 
  border-radius: 4px;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #e9d5ff;
  border-radius: 4px;
}

/* Focus state for the slider thumb */
input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.5); 
}

input[type='range']:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.5); 
}



.carousel-slide {
  transition: transform 0.5s ease-in-out;
}


/* Standard syntax (works in modern browsers) */
input[type="number"] {
  appearance: none;
}

/* Webkit (for older versions of Chrome, Safari, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


input[type="number"] {
  border-radius: 20px 0 0 4px; /* Adjust as needed */
}
